html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto'
}

body {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top:70px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-color {
    background-color: #A076F9 !important;
}

.bg-light-primary {
    background-color: #f9fbff !important;
}

.pb-6, .py-6 {
    padding-bottom: 3.75rem !important;
}

.pt-6, .py-6 {
    padding-top: 3.75rem !important;
}

.hover-scale, .hover-scale:hover {
    transition: transform .2s ease-in;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .4rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.white{
    color: white;
    font-weight:600
}

