@{
        ViewBag.Title = "Index";
    }

<div class="row flex-lg-nowrap">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px">
        <div class="card p-3">
            <div class="e-navlist e-navlist--active-bg">
                <ul class="navbar-nav me-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="#"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
                    <li class="nav-item"><a class="nav-link px-2" href="#"><i class="bi bi-trash"></i><span>Settings</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="e-tabs mb-3 px-3">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#">Users</a></li>
            </ul>
        </div>
        <div class="row flex-lg-nowrap">
            <div class="col mb-3">
                <div class="e-panel card">
                    <div class="card-body">
                        <div class="card-title">
                            <h6 class="mr-2"><span>Users</span><small class="px-1">Details</small></h6>
                        </div>
                        <div class="e-table">
                            <div class="table-responsive table-lg mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th class="sortable">UserName</th>
                                            <th class="max-width">FullName</th>
                                            <th>Phone</th>
                                            <th>Role_ID</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                  
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center px-xl-3">
                            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#userformmodal">New User</button>
                        </div>
                        <hr class="my-3" />
                        <div class="e-navlist e-navlist--active-bold">
                            <ul class="nav">
                                <li class="nav-item active"><a href="" class="nav-link"><span>All</span> <small>/ 32</small></a></li>
                                <li class="nav-item"><a href="" class="nav-link"><span>Active</span> <small>/ 16</small></a></li>
                                <li class="nav-item"><a href="" class="nav-link"><span>Selected</span> <small>/ 0</small></a></li>
                            </ul>
                        </div>
                        <hr class="my-3" />
                        <div>
                            <div class="input-group mb-3">
                                <label class="form-label">Date from - to:</label>
                                <div>
                                    <input id="dates-range" class="form-control flatpickr-input" placeholder="01 May 21 - 27 May 21" type="text" readonly="readonly" />
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label class="form-label">Search by Name:</label>
                                <div><input class="form-control w-100" type="text" placeholder="Name" value="" /></div>
                            </div>
                        </div>
                        <hr class="my-3" />
                        <div class="">
                            <label class="form-label">Status:</label>
                            <div class="px-2">
                                <div class="custom-control custom-radio form-check">
                                    <input type="radio" class="form-check-input" name="user-status" id="users-status-disabled" />
                                    <label class="form-label" for="users-status-disabled">Disabled</label>
                                </div>
                            </div>
                            <div class="px-2">
                                <div class="custom-control custom-radio form-check">
                                    <input type="radio" class="form-check-input" name="user-status" id="users-status-active" />
                                    <label class="form-label" for="users-status-active">Active</label>
                                </div>
                            </div>
                            <div class="px-2">
                                <div class="custom-control custom-radio form-check">
                                    <input type="radio" class="form-check-input" name="user-status" id="users-status-any" checked="" />
                                    <label class="form-label" for="users-status-any">Any</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
Modal
<div class="modal fade" aria-labelledby="userformmodalLabel" aria-hidden="true" tabindex="-1" id="userformmodal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-1">
                            <form class="form" novalidate="">
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Full Name</label>
                                                    <input class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Username</label>
                                                    <input class="form-control" type="text" name="username" placeholder="johnny.s" value="johnny.s" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Email</label>
                                                    <input class="form-control" type="text" placeholder="user@example.com" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="mb-3">
                                                    <label class="form-label">About</label>
                                                    <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-3">
                                        <div class="mb-2"><b>Change Password</b></div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Current Password</label>
                                                    <input class="form-control" type="password" placeholder="••••••" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">New Password</label>
                                                    <input class="form-control" type="password" placeholder="••••••" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3">
                                                    <label class="form-label">Confirm <span class="d-none d-xl-inline">Password</span></label>
                                                    <input class="form-control" type="password" placeholder="••••••" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                        <div class="mb-2"><b>Keeping in Touch</b></div>
                                        <div class="row">
                                            <div class="col">
                                                <label>Email Notifications</label>
                                                <div class="custom-controls-stacked px-2">
                                                    <div class="custom-control custom-checkbox form-check">
                                                        <input type="checkbox" class="form-check-input custom-control-input" id="notifications-blog" checked="" />
                                                        <label class="custom-control-label form-check-label" for="notifications-blog">Blog posts</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox form-check">
                                                        <input type="checkbox" class="form-check-input custom-control-input" id="notifications-news" checked="" />
                                                        <label class="custom-control-label form-check-label" for="notifications-news">Newsletter</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox form-check">
                                                        <input type="checkbox" class="form-check-input custom-control-input" id="notifications-offers" checked="" />
                                                        <label class="custom-control-label form-check-label" for="notifications-offers">Personal Offers</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <button class="btn btn-primary" data-bs-dismiss="modal" type="button" aria-label="Close">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        // Gọi AJAX để lấy dữ liệu từ API
        $("document").ready(function () {
            function callAPI() {
                $.ajax({
                    url: 'getListUser', // Đường dẫn tới API
                    type: 'GET', // Phương thức GET
                    dataType: 'json', // Kiểu dữ liệu trả về là JSON
                    success: function (data) {
                        // Xử lý dữ liệu trả về và hiển thị lên giao diện

                        // Lấy đối tượng bảng HTML theo id
                        var tableBody = document.querySelector(".table-bordered tbody");

                        // Xóa hết nội dung bảng cũ trước khi đổ dữ liệu mới
                        tableBody.innerHTML = "";

                        // Duyệt qua từng đối tượng trong mảng data
                        data.forEach(function (item, index) {
                            // Tạo một hàng mới trong bảng
                            var row = document.createElement("tr");

                            // Tạo các ô dữ liệu cho hàng
                            var sttCell = document.createElement("td");
                            sttCell.textContent = index + 1;
                            row.appendChild(sttCell);

                            var userNameCell = document.createElement("td");
                            userNameCell.textContent = item.UserName;
                            row.appendChild(userNameCell);

                            var fullNameCell = document.createElement("td");
                            fullNameCell.textContent = item.FullName;
                            row.appendChild(fullNameCell);

                            var phoneCell = document.createElement("td");
                            phoneCell.textContent = item.Phone;
                            row.appendChild(phoneCell);

                            var roleCell = document.createElement("td");
                            roleCell.textContent = item.Role_ID;
                            row.appendChild(roleCell);

                            var editCell = document.createElement("td");
                            var editButton = document.createElement("button");
                            editButton.className = "btn btn-sm btn-outline-secondary badge";
                            editButton.type = "button";
                            editButton.textContent = "Edit";
                            editButton.addEventListener("click", function () {
                                // Hàm xử lý sự kiện khi click nút Edit
                                // Ví dụ: Mở modal để chỉnh sửa thông tin user
                                // ...
                            });
                            editCell.appendChild(editButton);

                            var deleteCell = document.createElement("td");
                            var deleteButton = document.createElement("button");
                            deleteButton.className = "btn btn-danger";
                            deleteButton.type = "button";
                            var deleteIcon = document.createElement("i");
                            deleteIcon.className = "bi bi-trash";
                            deleteButton.appendChild(deleteIcon);
                            deleteCell.appendChild(deleteButton);
                            row.appendChild(deleteCell);

                            // Thêm hàng vào bảng
                            tableBody.appendChild(row);
                        });
                    },
                    error: function () {
                        // Xử lý lỗi nếu có
                        console.log('Không thể lấy dữ liệu từ API.');
                    }
                });
            }
            callAPI();
        });
    </script>
}

