@*@{
        ViewBag.Title = "Product";
}*@

@section css {
    <link href="~/Content/css/adminUser.css" rel="stylesheet" />
}
<div class="container" style="height:90%">
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-auto mb-3" style="width: 200px">
            <div class="card p-3">
                <div class="e-navlist e-navlist--active-bg">
                    <ul class="navbar-nav me-auto my-2 my-lg-0">
                        <li class="nav-item item-nav-hover">
                            <a class="nav-link px-2 active" href="/Admin">
                                <i style="margin-right: 10px" class="bi bi-people"></i><span>Người dùng</span>
                            </a>
                        </li>
                        <li class="nav-item item-nav-hover">
                            <a class="nav-link px-2" href="/Admin/Product">
                                <i style="margin-right: 10px" class="bi bi-card-checklist"></i><span>Món</span>
                            </a>
                        </li>
                        <li class="nav-item item-nav-hover">
                            <a class="nav-link px-2" href="/Admin/Desk">
                                <i style="margin-right: 10px" class="bi bi-pci-card"></i><span>Bàn</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="e-tabs mb-3 px-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#">Danh sách món</a></li>
                </ul>
            </div>
            <div class="row flex-lg-nowrap">
                <div class="col mb-3">
                    <div class="e-panel card">
                        <div class="card-body">
                            <div class="card-title">
                                <h6 class="mr-2"><span>Thông tin món</span></h6>
                            </div>
                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th class="sortable">Tên món</th>
                                                <th>Giá</th>
                                                <th>Đơn vị</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center px-xl-3">
                                <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#userformmodal" id="addNewButton">Thêm mới</button>
                            </div>
                            <hr class="my-3" />
                            <div class="e-navlist e-navlist--active-bold">
                                <ul class="nav">
                                    <li class="nav-item active"><a href="" class="nav-link"><span>All</span> <small>/ 32</small></a></li>
                                    <li class="nav-item"><a href="" class="nav-link"><span>Active</span> <small>/ 16</small></a></li>
                                    <li class="nav-item"><a href="" class="nav-link"><span>Selected</span> <small>/ 0</small></a></li>
                                </ul>
                            </div>
                            <hr class="my-3" />
                            <div>

                                <div class="input-group mb-3">
                                    <label class="form-label">Search by Name:</label>
                                    <div><input class="form-control w-100" type="text" placeholder="Name" value="" /></div>
                                </div>
                            </div>
                            <hr class="my-3" />
                            <div class="">
                                <label class="form-label">Nhóm:</label>
                                <div class="px-2">
                                    <div class="custom-control custom-radio form-check">
                                        <input type="radio" class="form-check-input" name="user-status" id="users-status-disabled" checked="" value="-1"/>
                                        <label class="form-label" for="users-status-disabled">TẤT CẢ</label>
                                    </div>
                                </div>
                                <div class="px-2">
                                    <div class="custom-control custom-radio form-check">
                                        <input type="radio" class="form-check-input" name="user-status" id="users-status-active" value="1"/>
                                        <label class="form-label" for="users-status-active">PHỞ SOUP</label>
                                    </div>
                                </div>
                                <div class="px-2">
                                    <div class="custom-control custom-radio form-check">
                                        <input type="radio" class="form-check-input" name="user-status" id="users-status-any"  value="2"/>
                                        <label class="form-label" for="users-status-any">CHÉN THÊM</label>
                                    </div>
                                </div>
                                <div class="px-2">
                                    <div class="custom-control custom-radio form-check">
                                        <input type="radio" class="form-check-input" name="user-status" id="users-status-any" value="3"/>
                                        <label class="form-label" for="users-status-any">THỊT THÊM</label>
                                    </div>
                                </div>
                                <div class="px-2">
                                    <div class="custom-control custom-radio form-check">
                                        <input type="radio" class="form-check-input" name="user-status" id="users-status-any"  value="4"/>
                                        <label class="form-label" for="users-status-any">CHI TIẾT</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Modal*@
            <div class="modal fade" aria-labelledby="userformmodalLabel" aria-hidden="true" tabindex="-1" id="userformmodal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Tạo bàn mới</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="py-1">
                                <form class="form" novalidate="">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col" style="display:none">
                                                    <div class="mb-3">
                                                        <input class="form-control" type="text" name="productID" id="productID" />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label">Tên món</label>
                                                        <input class="form-control" type="text" name="productName" id="productName" />
                                                    </div>
                                                </div>

                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label">Giá</label>
                                                        <input class="form-control" type="text" name="productPrice" id="productPrice" oninput="formatCurrency(this)" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label">Đơn vị</label>
                                                        <input class="form-control" type="text" name="productUnit" id="productUnit" />
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-6">
                                                        <label class="form-label">Nhóm</label>
                                                        <select class="form-select" id="inputGroupSelect01">
                                                            <option value="0">TẤT CẢ CÁC MÓN</option>
                                                            <option selected value="1">PHỞ SOUP</option>
                                                            <option value="2">CHÉN THÊM</option>
                                                            <option value="3">THỊT THÊM</option>
                                                            <option value="4">CHI TIẾT</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <button class="btn btn-primary" data-bs-dismiss="modal" type="button" aria-label="Close" onclick="createProduct()" id="save">Lưu</button>
                                    <button class="btn btn-success" data-bs-dismiss="modal" type="button" aria-label="Close" id="update" onclick="updateProduct()">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section scripts {
    <script src="~/Content/js/adminProduct.js"></script>
}


