@{
    ViewBag.Title = "Home Page";
}

<div class="container " style="height:100%">

    <div class="row justify-content-center text-center mb-4">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <h2 class="font-weight-bold">The Perfect Blend of Features <br>for your Company</h2>
            <p class="text-muted mb-0">We bring the results while helping you achieve cost and time savings without taking on risk or management overhead.</p>
        </div>
    </div>
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="e-navlist e-navlist--active-bold">
                        <ul class="nav">
                            <li class="nav-item active"><a href="" class="nav-link"><span>Tất cả / </span> <small id="static-all"></small></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><span>Bàn đã đặt / </span> <small id="static-active"></small></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><span>Bàn chưa đặt / </span> <small id="static-disable"></small></a></li>
                        </ul>
                    </div>

                    <hr class="my-3" />
                    <div class="">
                        <label class="form-label">Trạng thái:</label>
                        <div class="px-2">
                            <div class="custom-control custom-radio form-check">
                                <input type="radio" class="form-check-input" name="table-status" id="users-status-disabled" value="0" />
                                <label class="form-label" for="users-status-disabled">Bàn chưa đặt</label>
                            </div>
                        </div>
                        <div class="px-2">
                            <div class="custom-control custom-radio form-check">
                                <input type="radio" class="form-check-input" name="table-status" id="users-status-active" value="1" />
                                <label class="form-label" for="users-status-active">Bàn đã đặt</label>
                            </div>
                        </div>
                        <div class="px-2">
                            <div class="custom-control custom-radio form-check">
                                <input type="radio" class="form-check-input" name="table-status" id="users-status-any" checked="" value="-1" />
                                <label class="form-label" for="users-status-any">Tất cả</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content row row-cols-lg-4 row-cols-md-3 row-cols-2 text-center justify-content-center px-xl-6 aos-init aos-animate" data-aos="fade-up">
            </div>
        </div>
    </div>
    @*Modal hóa đơn*@
    <div class="modal fade" aria-labelledby="userformmodalLabel" aria-hidden="true" tabindex="-1" id="userformmodal">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Danh sách order:&ensp;</h5>
                    <h5 class="modal-title" id="tenban"></h5>
                    <input type="hidden" id="userIDOrder" value="@Session["UserID"]" />
                    <div class="col" style="display:flex; justify-content:center">
                        <button style="margin-right:10px" class="btn btn-danger " data-bs-dismiss="modal" type="button" aria-label="Close" id="deleteProductOrder">Xóa</button>
                        <button class="btn btn-success " data-bs-dismiss="modal" type="button" aria-label="Close" id="addProductOrder">Thêm món</button>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="py-1">
                        <form class="form" novalidate="">
                            <div class="row">
                                <div class="col">
                                    <div class="row detailOrder">
                                        @*<div class="col-12 col-lg-6">
                                                <div class="mb-3">
                                                    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" />
                                                    <div class="btn btn-outline-primary row" style="width:100%; border:none;">
                                                        <div class="col shadow p-3 mb-5  rounded" style="background: #F8F0E5 ">
                                                            <div class="row">
                                                                <img src="~/images/pho.png" class="col-3" style="width:70px" />
                                                                <label class="col-8" style="display:flex; align-items:center; justify-content:flex-start">Phở Đặc Biệt</label>
                                                            </div>
                                                            <div class="row">
                                                                <label class="col-8" style="display:flex; align-items:center; justify-content:flex-start">50.000 đ</label>
                                                                <input type="number" value="1" class="col-2" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Modal order*@
    <div class="modal fade" aria-labelledby="userformmodalLabel1" aria-hidden="true" tabindex="-1" id="modalorder">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Danh sách:&ensp;</h5>
                    <h5 class="modal-title" id="tenban1"></h5>
                    <h5 class="modal-title" id="idban" style="display:none"></h5>
                    <input type="hidden" id="userID" value="@Session["UserID"]" />
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="py-1">
                        <form class="form" novalidate="">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-12 col-lg-3 col-md-12">
                                            <div class="mb-3">
                                                <input class="form-control" type="text" id="searchInput" placeholder="Tìm kiếm sản phẩm...">
                                            </div>
                                        </div>
                                        <div class="col-1 col-md-2 col-lg-1" style="display:flex; align-items:end;">
                                            <div class="mb-3">
                                                <button class="btn btn-outline-info form-control" id="ssdsd" type="button" onclick="addOrder()" data-bs-dismiss="modal">Thêm</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row listproduct">

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts {
    <script src="~/Content/js/home.js"></script>
}
