@{
    ViewBag.Title = "Home Page";
}

<div class="container " style="height:100%">

    <div class="row justify-content-center text-center mb-4">
        <div class="col-xl-6 col-lg-8 col-sm-10">
            <h2 class="font-weight-bold">The Perfect Blend of Features <br>for your Company</h2>
            <p class="text-muted mb-0">We bring the results while helping you achieve cost and time savings without taking on risk or management overhead.</p>
        </div>
    </div>
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="e-navlist e-navlist--active-bold">
                        <ul class="nav">
                            <li class="nav-item active"><a href="" class="nav-link"><span>Tất cả / </span> <small id="static-all"></small></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><span>Bàn đã đặt / </span> <small id="static-active"></small></a></li>
                            <li class="nav-item"><a href="" class="nav-link"><span>Bàn chưa đặt / </span> <small id="static-disable"></small></a></li>
                        </ul>
                    </div>

                    <hr class="my-3" />
                    <div class="">
                        <label class="form-label">Trạng thái:</label>
                        <div class="px-2">
                            <div class="custom-control custom-radio form-check">
                                <input type="radio" class="form-check-input" name="table-status" id="users-status-disabled" value="0" />
                                <label class="form-label" for="users-status-disabled">Bàn chưa đặt</label>
                            </div>
                        </div>
                        <div class="px-2">
                            <div class="custom-control custom-radio form-check">
                                <input type="radio" class="form-check-input" name="table-status" id="users-status-active" value="1" />
                                <label class="form-label" for="users-status-active">Bàn đã đặt</label>
                            </div>
                        </div>
                        <div class="px-2">
                            <div class="custom-control custom-radio form-check">
                                <input type="radio" class="form-check-input" name="table-status" id="users-status-any" checked="" value="-1" />
                                <label class="form-label" for="users-status-any">Tất cả</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center px-xl-6 aos-init aos-animate" data-aos="fade-up">
            </div>
        </div>
    </div>
    @*Modal*@
    <div class="modal fade" aria-labelledby="userformmodalLabel" aria-hidden="true" tabindex="-1" id="userformmodal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tạo người dùng mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="py-1">
                        <form class="form" novalidate="">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Tài khoản</label>
                                                <input class="form-control" type="text" name="username" id="username" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Họ tên</label>
                                                <input class="form-control" type="text" name="name" id="name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Số điện thoại</label>
                                                <input class="form-control" type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')" id="phone" />
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3">
                                                <label class="form-label">Vai trò</label>
                                                <select class="form-select" id="inputGroupSelect01">
                                                    <option value="1">Quản trị</option>
                                                    <option selected value="2">Người dùng</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3">
                                                <div class="form-group" id="group-password">
                                                    <label class="form-label" for="password">Mật khẩu</label>
                                                    <div class="input-group">
                                                        <input type="password" id="password" class="form-control" />
                                                        <div style="display:flex; justify-content:center; align-items:center">
                                                            <i style="z-index:999;margin-left:-30px" id="togglePassword" class="bi bi-eye-slash"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <button class="btn btn-primary" data-bs-dismiss="modal" type="button" aria-label="Close" onclick="createUser()" id="save">Lưu</button>
                                    <button class="btn btn-success" data-bs-dismiss="modal" type="button" aria-label="Close" id="update" onclick="updateUser()">Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Content/js/home.js"></script>
}
